<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{HH:mm:ss.SSS} %-5level [%thread]:[%logger] %msg%n</pattern>
      </encoder>
    </appender>
    
    <appender name="DEMO" class="ch.qos.logback.core.FileAppender">
      <file> log-${byDay}.txt </file>
      <append>true</append>
      <encoder>
         <pattern>%d{HH:mm:ss.SSS} %-5level [%thread]:[%logger] %msg%n</pattern>
      </encoder>
   </appender>

  <springProfile name="dev">

    <root level="INFO" additivity="true">
      <appender-ref ref="STDOUT" />
    </root>

    <Logger name="ch.ethz.seb.sebserver" level="DEBUG" additivity="true" />
    <Logger name="org.mybatis.generator" level="INFO" additivity="true" />
    <Logger name="org.springframework.boot" level="INFO" additivity="true" />
    <Logger name="org.springframework.security" level="DEBUG" additivity="true" />

    <Logger name="org.springframework.web" level="DEBUG" additivity="true" />
    <Logger name="org.springframework.security.oauth2" level="DEBUG" additivity="true" />

    
  </springProfile>
  
  <springProfile name="test">

    <root level="INFO" additivity="true">
      <appender-ref ref="STDOUT" />
    </root>

    <Logger name="ch.ethz.seb.sebserver" level="DEBUG" additivity="true" />
    <Logger name="org.mybatis.generator" level="INFO" additivity="true" />
    <Logger name="org.springframework.boot" level="INFO" additivity="true" />
    <Logger name="org.springframework.security" level="DEBUG" additivity="true" />

    <Logger name="org.springframework.web" level="DEBUG" additivity="true" />
    <Logger name="org.springframework.security.oauth2" level="DEBUG" additivity="true" />

    
  </springProfile>
  
  <springProfile name="demo">

    <root level="INFO" additivity="true">
      <appender-ref ref="STDOUT" />
    </root>
 
  </springProfile>
</configuration>