<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread]:[%logger] %msg%n</pattern>
        </encoder>
    </appender>
 
    <Logger name="org.eth.demo.sebserver" level="INFO" additivity="true" />
    <Logger name="org.mybatis.generator" level="INFO" additivity="true" />
    <Logger name="org.eth.demo.sebserver.batis" level="INFO" additivity="true" />
    <Logger name="org.springframework.security" level="INFO" additivity="true" />
    <Logger name="org.springframework.security.oauth2" level="INFO" additivity="true" />
    <Logger name="org.springframework.web.socket.messaging" level="INFO" additivity="true" />
    <Logger name="org.springframework.messaging" level="INFO" additivity="true" />
    
    
    <Logger name="org.springframework" level="INFO" additivity="true" />
    <Logger name="org.springframework.web" level="INFO" additivity="true" />
    
    <Logger name="org.eth.demo.sebserver.batis.gen.mapper.ExamRecordMapper" level="INFO" additivity="true" />

    <root level="INFO" additivity="true">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>