[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# network
connect_timeout = 61
wait_timeout = 28800
max_connections = 100000
max_allowed_packet = 256M
max_connect_errors = 1000000

skip_external_locking
skip_name_resolve

#memory
innodb_buffer_pool_size=2G
